* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Amaranth", sans-serif;
  background-color: #dbdbdb;
}

@font-face {
  font-family: 'Amaranth';
  src: url(/Fonts/Amaranth-YP1y.otf);
}

h1,
.h1 {
  font-family: 'Amaranth';
  font-size: 32px;
  margin-top: 10px;
}

h2,
.h2 {
  font-family: 'Amaranth';
  font-size: 20px;
}

h3,
.h3 {
  font-family: 'Amaranth';
  font-size: 20px;
}

h4,
.h4 {
  font-family: 'Amaranth';
  font-size: 20px;
}

p,
.p {
  font-family: 'Amaranth';
  font-size: 14px;
  font-weight: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  list-style: none;
  text-decoration: none;
  color: var(--clr-black);
}

@font-face {
  font-family: 'Amaranth';
  src: url(/Fonts/Amaranth-YP1y.otf);
}

h1,
.h1 {
  font-family: 'Amaranth';
  font-size: 50px;
  font-weight: bold;
  margin-top: 10px;
}

p,
.p {
  font-size: 14px;
  font-weight: normal;
}

.serif {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

footer {
  position: relative;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #0073B7;
}

.footer {
  position: relative;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 0em;
  margin-bottom: 1em;
  color: white;
}

.footer h1 {
  font-size: 15px;
  padding-bottom: 10px;
}

.footer p {
  font-size: 10px;
}

.footer .social_icons {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  margin-top: 20px;
}

.footer .social_icons img {
  width: auto;
  height: 25px;
  padding: 0 10px;
  filter: brightness(0);
  filter: invert(1);
}

.container {
  position: relative;
  max-width: 1200px;
  margin: auto;
  display: flex;
}

.container > * {
  margin: 0;
}

.grid-container {
  display: grid;
  height: 100%;
}

header {
  display: flex;
  height: 87px;
  width: 100%;
  background: white;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 1px 10px black;
  z-index: 999;
}

.navbar {
  padding: 0 5%;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li {
  padding: 0 4em;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.navbar ul li.active::after {
  content: "";
  position: absolute;
  background-color: #0073B7;
  height: 3px;
  width: 20%;
  bottom: 1em;
  left: 38%;
  border-radius: 50px;
}

.navbar ul li a {
  color: black;
  text-decoration: none;
}

.navbar ul li a:hover {
  color: #00BBCA;
}

.navbar ul li a img {
  height: auto;
  width: 11em;
}

.navbar ul li .dropdown_menu {
  display: none;
}

.navbar ul li:hover .dropdown_menu {
  display: block;
  position: absolute;
  top: 100%;
  margin-left: 5em;
  margin-top: -10px;
  background: #0073B7;
  z-index: 9999;
}

.navbar ul li:hover .dropdown_menu ul {
  display: block;
  width: 10em;
}

.navbar ul li:hover .dropdown_menu ul li {
  padding: 2px;
  margin: 1em;
  float: left;
}

.navbar ul li:hover .dropdown_menu ul li a:hover {
  color: #00BBCA;
}

.mobile_navbar {
  position: absolute;
  width: 100vw;
  height: 78px;
  z-index: 999999;
  right: 0;
  top: 0;
}

.mobile_navbar #hamburg {
  width: 45px;
  height: 40px;
  margin: 30px 0 20px 20px;
  float: right;
  cursor: pointer;
}

.mobile_navbar .logo {
  margin-top: 17px;
  width: 7em;
  height: auto;
  float: left;
}

.mobile_navbar ul {
  display: none;
  position: absolute;
  width: 50%;
  right: 0;
  top: 87px;
  background: #0073B7;
  border-bottom-left-radius: 5%;
  box-shadow: -2px 5px 4px black;
  z-index: 999;
}

.mobile_navbar ul li {
  list-style: none;
  padding: 1em;
}

.mobile_navbar ul li a {
  font-size: 20px;
  text-decoration: none;
}

.mobile_navbar ul li a:hover {
  color: #00BBCA;
}

.mobile_navbar ul li #mobile_dropdown_menu {
  width: auto;
  color: black;
}

.mobile_navbar ul li #mobile_dropdown_menu #openDrop {
  position: relative;
  top: 0;
  box-shadow: none;
}

.mobile_navbar ul li #mobile_dropdown_menu #openDrop li {
  display: flex;
}

.mobile_navbar ul li #mobile_dropdown_menu #openDrop li a {
  display: inline-flex;
  font-size: 14px;
}

.mobile_navbar .change {
  display: block;
}

@media all and (max-width: 768px) {
  .navbar {
    display: none;
  }
  .mobile_navbar {
    display: block;
  }
}

@media all and (min-width: 769px) {
  .navbar {
    display: block;
  }
  .mobile_navbar {
    display: none;
  }
}

/* Gradient btn */
.btn-primery {
  background: radial-gradient(50% 526.19% at 50% 48.28%, #00C1CB 0%, #006CB5 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

.carousel {
  position: relative;
}

.carousel .carousel_item {
  height: 150px;
  width: 150px;
  background-color: #fff;
  padding: 1em;
  display: none;
  font-size: 2em;
  color: black;
}

.carousel .carousel-item--selected {
  display: block;
}

.carousel .carousel_nav {
  width: 100%;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel .carousel_nav .carousel-dott {
  width: 29px;
  height: 5px;
  display: inline-block;
  background: #0073B7;
  border-radius: 5px;
  margin: 0 2px;
  cursor: pointer;
}

.carousel .carousel_nav .carousel-dott:first-child {
  background-color: #00BBCA;
}

.carousel .carousel_nav .carousel-dott:last-child {
  background-color: #00BBCA;
}

.carousel .carousel_nav .carousel-dott--selected {
  background-color: #0073B7;
}

.home {
  min-height: 90vh;
  position: relative;
}

.home .home_img {
  width: 100%;
  min-height: 90vh;
  background-image: url(/img/Cover.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(50%);
}

.home .home_text {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  top: 20%;
  z-index: 22;
}

.home .home_text h1 {
  width: 100%;
  font-size: 35px;
}

.home .home_text h3 {
  width: 100%;
  padding-top: 15px;
  font-size: 15px;
}

.home .scrollArrow {
  position: absolute;
  width: 5px;
  height: 35px;
  bottom: 15%;
  right: 0;
  left: 0;
  margin: auto;
  border-radius: 50px;
  background: white;
}

.home .scrollArrow::before {
  content: "";
  width: 5px;
  height: 20px;
  background: white;
  position: absolute;
  right: -6px;
  bottom: 0;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  transform: rotate(40deg);
}

.home .scrollArrow::after {
  content: "";
  width: 5px;
  height: 20px;
  background: white;
  position: absolute;
  right: 6px;
  bottom: 0;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  transform: rotate(-40deg);
}

.sec1 {
  height: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

.sec1 .sec1_text {
  padding: 20px;
}

.sec1 .sec1_text h1 {
  font-size: 20px;
}

.sec1 .sec1_text h4 {
  font-size: 10px;
  font-weight: normal;
  padding: 10px 0 10px 0;
}

.sec1 .sec1_text h3 {
  font-size: 13px;
  font-weight: normal;
}

.sec1 .btn_contact {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: .2em;
}

.sec1 .btn_contact button {
  padding: 7px 15px;
  border-radius: 50px;
  border-color: transparent;
  background: radial-gradient(50% 526.19% at 50% 48.28%, #00C1CB 0%, #006CB5 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sec2 {
  position: relative;
  height: auto;
  margin-top: 3em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sec2 .sec2_img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 213px;
  height: 142px;
  background: radial-gradient(50% 526.19% at 50% 48.28%, #00C1CB 0%, #006CB5 100%);
  border-radius: 5px;
}

.sec2 .sec2_img img {
  width: 210px;
  height: 139px;
  justify-content: center;
  background-size: auto;
  backdrop-filter: blur(4px);
  border-radius: 5px;
  object-fit: cover;
}

.sec2 .sec2_text {
  padding: 5px 20px 20px 20px;
}

.sec2 .sec2_text h1 {
  font-size: 17px;
}

.sec2 .sec2_text h3 {
  font-size: 13px;
  font-weight: normal;
  padding: 20px 0 0 0;
}

.sec2 .nextArrow {
  position: absolute;
  width: 25px;
  height: 2px;
  bottom: 0;
  background: #000;
  border-radius: 50px;
  transform: translate(0%);
}

.sec2 .nextArrow::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  right: -1px;
  bottom: 3px;
  background: #000;
  transform: rotate(40deg);
  border-radius: 50px;
}

.sec2 .nextArrow::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  right: -0.7px;
  top: 3px;
  background: #000;
  transform: rotate(-40deg);
  border-radius: 50px;
}

.sec3 {
  position: relative;
  height: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sec3 .sec3_img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 213px;
  height: 142px;
  background: radial-gradient(50% 526.19% at 50% 48.28%, #00C1CB 0%, #006CB5 100%);
  border-radius: 5px;
}

.sec3 .sec3_img img {
  width: 210px;
  height: 139px;
  justify-content: center;
  background-size: auto;
  backdrop-filter: blur(4px);
  border-radius: 5px;
  object-fit: cover;
}

.sec3 .sec3_text {
  padding: 5px 20px 20px 20px;
}

.sec3 .sec3_text h1 {
  font-size: 17px;
}

.sec3 .sec3_text h3 {
  font-size: 13px;
  font-weight: normal;
  padding: 20px 0 0 0;
}

.sec3 .nextArrow {
  position: absolute;
  width: 25px;
  height: 2px;
  bottom: 0;
  background: #000;
  border-radius: 50px;
  transform: translate(0%);
}

.sec3 .nextArrow::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  right: -2px;
  bottom: 3px;
  background: #000;
  transform: rotate(40deg);
  border-radius: 50px;
}

.sec3 .nextArrow::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  right: -2px;
  top: 3px;
  background: #000;
  transform: rotate(-40deg);
  border-radius: 50px;
}

.sec4 {
  position: relative;
  height: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sec4 .sec4_text {
  padding: 20px;
}

.sec4 .sec4_text h1 {
  font-size: 20px;
}

.sec4 .sec4_carrosel {
  position: relative;
  margin-top: 1em;
  width: 150px;
  height: 150px;
  background-color: darkgrey;
  border-radius: 5px;
}

.sec4 .sec4_carrosel::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  background: lightgrey;
  border-radius: 5px;
  left: 110%;
}

.sec4 .sec4_carrosel::after {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  background: lightgrey;
  border-radius: 5px;
  right: 110%;
}

.sec4 .sec4_carrosel .sec4_carrosel-img {
  position: absolute;
  width: 150px;
  height: 150px;
  background-image: url(/img/Borduren.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}

.sec4 .sec4_carrosel-dotts {
  position: relative;
  width: 29px;
  height: 5px;
  background-color: #0073B7;
  border-radius: 5px;
  margin-top: 1em;
}

.sec4 .sec4_carrosel-dotts::before {
  content: "";
  position: absolute;
  width: 29px;
  height: 5px;
  right: 120%;
  background-color: #00BBCA;
  border-radius: 5px;
}

.sec4 .sec4_carrosel-dotts::after {
  content: "";
  position: absolute;
  width: 29px;
  height: 5px;
  left: 120%;
  background-color: #00BBCA;
  border-radius: 5px;
}
/*# sourceMappingURL=main.css.map */