@import './Sass/main.scss';

.flex{
    display: flex;
    gap: 1rem;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header-mobile{
    display: block;

    position: sticky;
    width: 100%;
    height: 50px;
    box-shadow: 1px 1px 10px black;
}

.header-mobile_container{
    padding: 0 20px;
    display: flex;
    width: 100%;
    height: 100%;
}



.header-mobile_image img{
    content: '';

}

.header-mobile_hamburg{
    position: fixed;
    /* display: flex; */
    list-style: none;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

ul{
    display: block;
    position: fixed;
    inset: 0;
    top: 0;
    bottom: 0;
}

li{
    text-decoration: none;
    list-style: none;
    padding: 25px 0;
}

li > #dropdown{
    display: none;
    position: absolute;
    right: 2em;
}