// Colors

$bg-clr: #dbdbdb;
$clr-black: black;
$primery-clr: #0073B7;
$secundaire-clr: #00BBCA;
$gradient-clr: radial-gradient(50% 526.19% at 50% 48.28%, #00C1CB 0%, #006CB5 100%);
$gradient-clr-hover:  radial-gradient(50% 50% at 50% 50%, #006CB5 0%, #00C1CB 100%);
