// Break points
$small-phone: 320px;
$large-phone: 768px;
$tablet: 960px;
$desktop: 1200px;
$large-desktop: 1400px;

// Font-family
$amaranth: 'Amaranth';
$sans-serif: sans-serif;


// Font sizes
$large-sz: 32px;
$medium-sz: 20px;
$small-sz: 14px;