// MOBILE
header{
    display: flex;
    height: 87px;
    width: 100%;
    background: var(--clr-white);
    align-items: center;
    justify-content: space-around;  
    box-shadow: 0px 1px 10px var(--clr-black);

    z-index: 999;
}

.navbar{
    padding: 0 5%;
    
    ul{
        display: flex;
        list-style: none;
        
        li{
            padding: 0 4em;
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;

            &.active::after{
                content: "";
                position: absolute;
                background-color: var(--clr-main);
                height: 3px;
                width: 20%;
                bottom: 1.5em;
                left: 36%;
                border-radius: 50px;
            }

            a{
                color: var(--clr-black);
                text-decoration: none;
                font-size: 20px;

                &:hover{
                    color: var(--clr-primery);
                }

                img{
                    height: auto;
                    width: 7em;
                }
            }

            .dropdown_menu{
                display: none;
            }

            &:hover .dropdown_menu{
                display: block;
                position: absolute;
                top: 100%; 
                margin-left: 5em;
                margin-top: -10px;
                background: var(--clr-primery);

                z-index: 9999;

                ul{
                    display: block;
                    width: 10em;

                    li{
                        padding: 2px;
                        margin: 1em;
                        float: left;

                        a:hover{
                            color: var(--clr-main);
                        }
                    }
                }
            }

        }
        
    }
}