:root{
    /* COLORS */
    --clr-primery: #0073B7;
    --clr-main: #00BBCA;
    --clr-gradient: radial-gradient(50% 526.19% at 50% 48.28%, #00C1CB 0%, #006CB5 100%);
    --clr-black: #000000;
    --clr-white: #ffffff;
}