@font-face {
    font-family: 'Amaranth';
    src: url(/Fonts/Amaranth-YP1y.otf);
}


h1,
.h1{
    font-family: 'Amaranth';
    font-size: 50px;
    font-weight: bold;
    margin-top: 10px;
}

p,
.p{
    font-size: 14px;
    font-weight: normal;
}

.serif{
    font-style: italic;

}

.bold{
    font-weight: bold;
}