.home{
    min-height: 90vh;

    .home_img{
        width: 100vw;
        min-height: 90vh;
        background-image: url(/img/Cover.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        filter:brightness(50%);
    }

    .home_text{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 10em;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: var(--clr-white);
        position: absolute;
        top: 30%;

        h1{
            width: 100%;
        }

        h4{
            width: 100%;
        }
    }
}