.home{
    min-height: 90vh;
    position: relative;

    .home_img{
        width: 100%;
        min-height: 90vh;
        background-image: url(/img/Cover.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        filter:brightness(50%);
    }

    .home_text{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: white;
        position: absolute;
        top: 20%;
        z-index: 22;

        h1{
            width: 100%;
            font-size: 35px;
        }

        h3{
            width: 100%;
            padding-top: 15px;
            font-size: 15px;
        }
    }

    .scrollArrow{
        position: absolute;
        width: 5px;
        height: 35px;
        bottom: 15%;
        right: 0;
        left: 0;
        margin: auto;
        border-radius: 50px;
        background: white;

        &::before{
            content: "";
            width: 5px;
            height: 20px;
            background: white;
            position: absolute;
            right: -6px;
            bottom: 0;
            border-top-left-radius: 50px;
            border-top-right-radius: 50px;
            transform: rotate(40deg);
        }

        &::after{
            content: "";
            width: 5px;
            height: 20px;
            background: white;
            position: absolute;
            right: 6px;
            bottom: 0;
            border-top-left-radius: 50px;
            border-top-right-radius: 50px;
            transform: rotate(-40deg);
        }
    }
}


.sec1{
    height: auto;
    margin-top: 2em;
    margin-bottom: 2em;

    .sec1_text{
        padding: 20px;

        h1{
            font-size: 20px;
        }

        h4{
            font-size: 10px;
            font-weight: normal;
            padding: 10px 0 10px 0;
        }

        h3{
            font-size: 15px;
            font-weight: normal;
        }
    }

    .btn_contact{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 25px;

        button{
            padding: 7px 15px;
            border-radius: 50px;
            border-color: transparent;
            background: $gradient-clr;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
}

.sec2{
    position: relative;
    height: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .sec2_img{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 213px;
        height: 142px;
        background: $gradient-clr;
        border-radius: 5px;

        img{
            width: 210px;
            height: 139px;
            justify-content: center;
            background-size: auto;
            backdrop-filter: blur(4px);
            border-radius: 5px;
        }
    }

    .sec2_text{
        padding: 20px;
        h1{
            font-size: 20px;
        }

        h3{
            font-size: 15px;
            font-weight: normal;
            padding: 20px 0 0 0;
        }
    }

    .nextArrow{
        position: absolute;
        width: 25px;
        height: 2px;
        bottom: 0;
        background: #000;
        border-radius: 50px;

        &::before{
            content: "";
            position: absolute;
            width: 10px;
            height: 2px;
            right: 0;
            bottom: 3px;
            background: #000;
            transform: rotate(40deg);
            border-radius: 50px;

        }

        &::after{
            content: "";
            position: absolute;
            width: 10px;
            height: 2px;
            right: -1px;
            top: 3px;
            background: #000;
            transform: rotate(-40deg);
            border-radius: 50px;

        }
    }
}

.sec3{
    position: relative;
    height: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;


    // VERDERWERKEN!!!
    background-image: url(/img/Bg-butterfly.png);
    background-size: cover;
    background-position:left;
    background-repeat: no-repeat;
    


    .sec3_img{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 213px;
        height: 142px;
        background: $gradient-clr;
        border-radius: 5px;

        img{
            width: 210px;
            height: 139px;
            justify-content: center;
            background-size: auto;
            backdrop-filter: blur(4px);
            border-radius: 5px;
        }
    }

    .sec3_text{
        padding: 20px;

        h1{
            font-size: 20px;
        }

        h3{
            font-size: 15px;
            font-weight: normal;
            padding: 20px 0 0 0;
        }
    }

    .nextArrow{
        position: absolute;
        width: 25px;
        height: 2px;
        bottom: 0;
        background: #000;
        border-radius: 50px;

        &::before{
            content: "";
            position: absolute;
            width: 10px;
            height: 2px;
            right: 0;
            bottom: 3px;
            background: #000;
            transform: rotate(40deg);
            border-radius: 50px;

        }

        &::after{
            content: "";
            position: absolute;
            width: 10px;
            height: 2px;
            right: -1px;
            top: 3px;
            background: #000;
            transform: rotate(-40deg);
            border-radius: 50px;

        }
    }
}